<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>768206838911-17mbntkrqma7ctrfec3ie81g3pomjhe6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.768206838911-17mbntkrqma7ctrfec3ie81g3pomjhe6</string>
	<key>API_KEY</key>
	<string>AIzaSyBs8djF4JxSBoucIWQDZVRiJI5X6sDknjQ</string>
	<key>GCM_SENDER_ID</key>
	<string>768206838911</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.NativeJournal</string>
	<key>PROJECT_ID</key>
	<string>react-journal-cf451</string>
	<key>STORAGE_BUCKET</key>
	<string>react-journal-cf451.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:768206838911:ios:0e186fc292ffe49427334a</string>
	<key>DATABASE_URL</key>
	<string>https://react-journal-cf451.firebaseio.com</string>
</dict>
</plist>
